<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">-->

<!--
  Log4J configuration file for IVOA UML Transformer
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  
  <!-- Appenders : begin -->
  <!-- root.log -->
  <appender name="fileVO-URP-Browser" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${catalina.home}/logs/vo-urp-browser.log"/>
    <param name="MaxFileSize" value="10000KB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %p [%t] - %m%n"/>
    </layout>
  </appender>
  <!-- Appenders : end -->

    
  <!-- Loggers : begin -->
  <logger name="dev">
    <level value="warn"/>
    <appender-ref ref="fileVO-URP-Browser"/>
  </logger>

  <logger name="org.ivoa">
    <level value="warn"/>
    <appender-ref ref="fileVO-URP-Browser"/>
  </logger>
  
  <logger name="org.eclipse.persistence">
    <level value="warn"/>
    <appender-ref ref="fileVO-URP-Browser"/>
  </logger>
  <!-- Loggers : end -->
  
</log4j:configuration>
